*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo-t{
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,45,1) 42%, rgba(0,212,255,1) 100%);
}